@import "_vars";

body{
	font-family: --var(--system-font);
	line-height: 1.7;
	color: #495057;
}

a{
	color: #228be6;
}

h1,h2,h3,h4,h5,h6{
	color: #343a40;
}

pre{
	background-color: #f1f3f5;
	padding: 10px;
}