extends skeleton/skeleton.jade
block title
	title Are you ready to slicin'?

block content
	.intro
		h1.intro__title
			span Frontend
			span 
				| Kickstarter 
				sup.badge v.1.0
		p.intro__subtitle 
			| by 
			a(href="http://ariona.net") Ariona, Rian
		.intro__detail
			a(href="#") Repository
			| /
			a(href="#") Documentation
