@mixin em($pixels, $context: $body-font-size) {
	font-size: #{$pixels}px;
	font-size: #{$pixels/$context}em;
}

@mixin rem($pixels, $context: $body-font-size) {
	font-size: #{$pixels}px;
	font-size: #{$pixels/$context}rem;
}

@function em($pixels, $context: $body-font-size) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1em;
}

@function em($pixels, $context: $body-font-size) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1em;
}

@function rem($pixels, $context: $body-font-size) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}