// Font Family
$body-font       : Karla, arial, sans-serif;
$heading-font    : "Playfair Display", serif;
$decoration-font : "Playfair Display", serif;

// Font Sizes
$body-font-size : 16px;
$h1-font-size   : em( 48px );
$h2-font-size   : em( 36px );
$h3-font-size   : em( 24px );
$h4-font-size   : em( 21px );
$h5-font-size   : em( 18px );
$h6-font-size   : em( 16px );
